<template>
  <weather :fechtedCities="fechtedCities"/>
</template>

<script>
import Weather from './Weather'
export default {
  name: 'Home',
  data () {
    return {
      cities: [
        {name: 'istanbul', woied: 2344116},
        {name: 'berlin', woied: 638242},
        {name: 'london', woied: 44418},
        {name: 'helsinki', woied: 565346},
        {name: 'dublin', woied: 560743},
        {name: 'vancouver', woied: 9807}
      ],
      fechtedCities: []
    }
  },
  components: {
    Weather
  },
  mounted () {
    this.$http.all([
      this.$http.get(`https://www.metaweather.com/api/location/${this.cities[0].woied}`),
      this.$http.get(`https://www.metaweather.com/api/location/${this.cities[1].woied}`),
      this.$http.get(`https://www.metaweather.com/api/location/${this.cities[2].woied}`),
      this.$http.get(`https://www.metaweather.com/api/location/${this.cities[3].woied}`),
      this.$http.get(`https://www.metaweather.com/api/location/${this.cities[4].woied}`),
      this.$http.get(`https://www.metaweather.com/api/location/${this.cities[5].woied}`)
    ]).then(this.$http.spread((istanbulRes,berlinRes, londonRes, helsinkiRes, dublinRes, vancouverRes) => {
      this.fechtedCities.push(istanbulRes.data, berlinRes.data, londonRes.data, helsinkiRes.data, dublinRes.data, vancouverRes.data)
      console.log(this.fechtedCities)
    }))

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
