<template>
  <b-navbar toggleable="md" type="dark" variant="dark">
    <b-container>
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="/">Vue Weather App</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="md" v-model="queryText" class="mr-sm-2" type="text" placeholder="Search for cities"/>
            <b-button size="md" class="my-2 my-sm-0" type="button" @click="findCity">Search</b-button>
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-container>
</b-navbar>
</template>
<script>
export default {
  name: 'Navbar',
  data () {
    return {
      queryText: ''
    }
  },
  methods: {
    findCity () {
      this.$http.get(`https://www.metaweather.com/api/location/search/?query=${this.queryText}`)
        .then(response => {
          console.log(response.data)
          if(localStorage.getItem('cities') === null) {
            localStorage.setItem('cities', JSON.stringify(response.data))
          }else{
            localStorage.clear()
            localStorage.setItem('cities', JSON.stringify(response.data))
          }
        this.$router.push(`/search/${this.queryText}`)
        })
    }
  }
}
</script>
