<template>
  <div>
    <h3 class="my-4 font-weight-bold text-center text-dark">Found {{availableCities[0].length}} result for your search</h3>
    <div class="row">
      <div class="col-md-3 my-2" v-for="(city, index) in availableCities[0]" :key="index">
        <b-card bg-variant="dark" text-variant="white" :title="city.title">
          <p class="card-text">
            For more info click on me :)
          </p>
          <router-link :to="'/weather/' + city.woeid">
            <b-button variant="primary">More info</b-button>
          </router-link>
        </b-card>
      </div>
    </div>
    <h3 class="font-weight-bold text-center text-danger" v-if="availableCities[0].length<1">Try changing your keyword
      and try again</h3>
  </div>
</template>
<script>
export default {
  name: 'Search',
  data () {
    return {
      availableCities: []
    }
  },
  watch: {
    '$route': function () {
      this.availableCities.push(JSON.parse(localStorage.getItem('cities')))
      location.reload()
    }
  },
  methods: {
    fetchData () {
      this.availableCities.push(JSON.parse(localStorage.getItem('cities')))
    }
  },
  mounted () {
    this.fetchData()
  }
}
</script>
