<template>
<div>
  <div class="row" v-if="fechtedCities">
    <div class="col-md-4" v-for="(city, index) in fechtedCities" :key="index">
        <router-link :to="'/weather/' + city.woeid">
      <div class="weather-card mt-5 shadow">
          <div class="weather-card__card-top p-2">
            <p class="temprature">{{city.consolidated_weather[0].the_temp.toFixed()}}°C</p>
            <p class="weather-date">{{getToday()}} September</p>
          </div>
          <div class="weather-card__card-center text-center py-3">
            <img :src="'https://www.metaweather.com/static/img/weather/' + city.consolidated_weather[0].weather_state_abbr + '.svg'" width="20%" alt="">
          </div>
          <div class="weather-card__card-bottom">
            <div class="weather-card__card-bottom temp"><span class="display-4">{{city.consolidated_weather[0].max_temp.toFixed()}}</span>/<span>{{city.consolidated_weather[0].min_temp.toFixed()}}</span></div>
            <div class="weather-card__card-bottom weather-status">{{city.consolidated_weather[0].weather_state_name}}</div>
          </div>
          <div class="m-4 py-2 city text-left display-4">
            {{city.title}}
          </div>
      </div>
        </router-link>
    </div>
  </div>
  <div class="row" v-if="fetchedCity">
    <div class="col-md-4" v-for="(city, index) in fetchedCity.consolidated_weather" :key="index">
      <div class="weather-card mt-5 shadow">
        <div class="weather-card__card-top p-2">
          <p class="temprature">{{city.the_temp.toFixed()}}°C</p>
          <p class="weather-date">{{city.applicable_date | moment("dddd")}}</p>
        </div>
        <div class="weather-card__card-center text-center py-3">
          <img :src="'https://www.metaweather.com/static/img/weather/' + city.weather_state_abbr + '.svg'" width="50%" alt="">
        </div>
        <div class="weather-card__card-bottom">
          <div class="weather-card__card-bottom temp"><span class="display-4">{{city.max_temp.toFixed()}}</span>/<span>{{city.min_temp.toFixed()}}</span></div>
          <div class="weather-card__card-bottom weather-status">{{city.weather_state_name}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
</template>
<script>
export default {
  name: 'Weather',
  props: ['fechtedCities', 'fetchedCity'],
  data () {
    return {
      nothing: ''
    }
  },
  methods: {
    getToday () {
      let today = new Date()
      return today.getDate()
    }
  }
}
</script>
<style scoped>
.weather-card {
  border-radius: 15px;
  background-color: #2d4ca7;
  color: #fff;
}
.weather-card__card-top,
.weather-card__card-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}
.weather-card__card-top .temprature, .weather-card__card-bottom .temp{
  margin-left: 20px;
}
.temp, .weather-status{
  align-items: flex-end;
}
.weather-card__card-top .weather-date, .weather-card__card-bottom .weather-status{
  margin-right: 20px;
}
.city{
  border-top: 5px solid #fff;
  border-radius: 2px;
  text-transform: capitalize;
}
</style>
