<template>
  <div class="row">
    <div class="col-md-3 mt-5">
      <h3>Showing Weather forcast of {{fetchedCity.title}}</h3>
    </div>
    <div class="col-md-9">
      <weather :fetchedCity="fetchedCity"/>
    </div>
  </div>
</template>
<script>
import Weather from './Weather'
export default {
  data () {
    return {
      fetchedCity: {}
    }
  },
  components: {
    Weather
  },
  mounted() {
    this.fetchCity()
  },
  methods: {
    fetchCity () {
      this.$http.get(`https://www.metaweather.com/api/location/${this.$route.params.woied}`)
        .then(res => {
          this.fetchedCity = res.data
        })
    }
  }
}
</script>

<style>

</style>
