<template>
  <div id="app">
    <navbar/>
    <b-container>
      <router-view></router-view>
    </b-container>
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'

export default {
  name: 'app',
  components: {
    Navbar
  }
}
</script>

<style>
.router-link-active{
  font-weight: bold;
  color: #2c3e50;
}
body {
  font-family: 'Roboto', sans-serif;
}
a:hover,a:visited {
  text-decoration: none !important;
}
</style>
